* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-size: 1.125rem;
    background: hsl(226, 43%, 10%);
    color: white;
    font-family: 'Rubik', sans-serif;
    overflow: hidden;
}
/* All flex elements */
.shell-container,
.inner-container,
.time-tracking,
.threecontainer-top,
.threecontainer-bottom,
.subject-content-container,
.subject-content,
.subject-top {
    display: flex;
}

/* images */
#profile-picture {
    width: 100px;
    border: 4px white solid;
    border-radius: 50%;
}

.subject-icon {
    position: absolute;
    top: -3px;
    right: 20px;
    opacity: .7;
}

.ellipsis {
    width: 30px;
    height: 8px;
}

/* typo */
h1 {
    margin: 0;
    font-weight: 300;
    font-size: 3.5rem;
}

h2 {
    margin: 0 0 1em 0;
    font-weight: 300;
    font-size: 2.5rem;
}

a { color: hsl(83, 82%, 40%); }

.last-hours {
    margin: 1em 0 0 0;
    opacity: .7;
}

.last-hours {
    font-size: 1rem;
}

.subject-title {
    font-weight: 500;
}

/* Helps determine which timeframe is active. Class is moved via js*/
.opacity {
    opacity: .4;
}

.active-timeframe {
    opacity: 1;
}

#small-report {
    font-size: .9rem;
    margin: 1em 0 0 0;
    opacity: .7;
}

/* Layout */

.shell-container {
    height: 100vh;
    align-items: center;
    justify-content: center;
}

/* profile */
.profile {
    width: 225px;
}

.profile-container {
    background: hsl(246, 80%, 60%);
    padding: 2em 1.4em;
}

.date-nav {
    padding: 0 1.4em;
}

#daily,
#weekly,
#monthly {
    margin: 1.2em 0;
}

/* subjects */
.time-tracking {
    flex-direction: column;
    margin-left: 1em;
}

/* This gives the same margins as the boxes has between eachother */
.threecontainer-top {
    margin-bottom: .6em;
}
.threecontainer-bottom {
    margin-top: .6em;
}

/* Flex-end makes the icons visible and overflow hidden hides the exceeding portion of the icon. Position: relative to grab the icons that are position: absolute. */
.subject-content-container {
    position: relative;
    margin: 0 .6em;
    align-items:flex-end;
    overflow: hidden;
    height: 240px;
    width: 250px;
    transition: .05s linear;
    transform: scale(1);
}
.subject-content-container:hover {
    transform: scale(1.02)
}

/* Z-index: 1 so that it its above the background div. */
.subject-content {
    width: 100%;
    height: 200px;
    padding: 1.4em 1.6em;
    flex-direction: column;
    z-index: 1;
}

.subject-top,
.subject-content {
    justify-content: space-between;
}

/* Misc */
/* border-radius to round the corners */
.profile,
.profile-container,
.subject-content-container,
.subject-content {
    border-radius: 16px;
}

/* dark theme background */

/* hover */
#daily:hover,
#weekly:hover,
#monthly:hover,
.ellipsis {
    cursor: pointer;
    opacity: 1;
}

.profile,
.subject-content     {background: hsl(235,  46%, 20%);}
/* Subject background colors */
#work-container      {background: hsl( 15, 100%, 70%);}
#play-container      {background: hsl(195,  74%, 62%);}
#study-container     {background: hsl(348, 100%, 68%);}
#excercise-container {background: hsl(145,  58%, 55%);}
#social-container    {background: hsl(264,  64%, 52%);}
#self-care-container {background: hsl( 43,  84%, 65%);}

/*
Mobile version - making everything columns and 400px wide
*/
@media (max-width: 1100px) {
    body {
        overflow: initial;
    }
    #profile-picture {
        width: auto;
    }
    h2 {
        font-size: 2rem;
    }
    .shell-container,
    .inner-container,
    .time-tracking,
    .threecontainer-top,
    .threecontainer-bottom {
        width: 100%;
    }
    .shell-container,
    .inner-container,
    .name,
    .time-tracking, 
    .threecontainer-top,
    .threecontainer-bottom{
        flex-direction: column
    }
    .profile-container,
    .name,
    .date-nav,
    .subject-bottom {
        display: flex;
    }
    .inner-container,
    .date-nav,
    .subject-bottom {
        align-items: center;
    }
    .profile-container,
    .subject-content {
        height: 150px;
    }
    h2,
    .time-tracking, 
    .threecontainer-top,
    .threecontainer-bottom {
        margin: 0;
    }
    .date-nav,
    .subject-bottom {
        justify-content: space-between;
    }
    .profile,
    .subject-content-container {
        width: 80%;
        max-width: 400px;
    }
    .threecontainer-top,
    .threecontainer-bottom {
        align-items: center;
    }
    .shell-container {
        height: initial;
    }
    .inner-container {
        width: 90%;
    }
    .profile {
        align-self: center;
        margin: 5em 0 1em;
        height: 225px;
    }
    .name {
        margin: 2em 1em;
        justify-content: space-evenly;
    }
    #small-report {
        margin-bottom: 0.4em;
    }
    .date-nav {
        margin: .3em 1em;
        font-size: 1.35rem;
        justify-content: space-evenly;
    }
    #daily,
    #weekly,
    #monthly {
        margin: 1em 2px;
    }
    .subject-content-container {
        margin: 1em;
        height: 200px;
    }
    .subject-content {
        padding: 1em;
    }
    /* Changes the credit to stay under the content */
}






/* Credit */
.attribution { font-size: 0.75rem; position: fixed; bottom: 0;}
@media (max-width: 1100px) {
    .attribution {
        position:initial;
        margin-top: 5%;
    }
}
