* {
    box-sizing: border-box;
    /* border: 2px red solid; */
}
body {
    margin: 0;
    font-size: 1.125rem;
    background: hsl(226, 43%, 10%);
    color: white;
    font-family: 'Rubik', sans-serif;
    overflow: hidden;
}

.attribution {
    position: absolute;
    bottom: 0;
}

/* images */
.subject-icon {
    position: absolute;
    top: -3px;
    right: 20px;
    opacity: .7;
}

.ellipsis {
    width: 30px;
    height: 8px;
}

/* typo */
h1 {
    margin: 0;
    font-weight: 300;
    font-size: 3.5rem;
}

h2 {
    margin: 0 0 1em 0;
    font-weight: 300;
    font-size: 2.5rem;
}

.last-hours {
    margin: 1em 0 0 0;
    opacity: .7;
}

.last-hours {
    font-size: 1rem;
}

/* Helps determine which timeframe is active. Class is moved via js*/
.opacity {
    opacity: .4;
}

.active-timeframe {
    opacity: 1;
}

#small-report {
    font-size: .9rem;
    margin: 1em 0 0 0;
    opacity: .7;
}

.box-container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
}

.flex {
    display: flex;
    flex-direction: column;
}

/* flex-column */
.subject-content {
    display: flex;
    flex-direction: column;
}

/* border */
.profile,
.profile-container,
.subject-content-container,
.subject-content {
    border-radius: 16px;
}

/* .profile-container, */
.subject-content-container {
    height: 250px;
    width: 250px;
}

/* dark theme background */
.profile,
.subject-content {
    background: hsl(235, 46%, 20%);
}
#daily,
#weekly,
#monthly {
    margin: 1.2em 0;
}

/* hover */
#daily:hover,
#weekly:hover,
#monthly:hover,
.ellipsis {
    cursor: pointer;
    opacity: 1;
}

/* profile */
.profile {
    width: 225px;
}

#profile-picture {
    width: 100px;
    border: 4px white solid;
    border-radius: 50%;
}

.profile-container {
    background: hsl(246, 80%, 60%);
    padding: 2em 1.4em;
}

.name {
    margin: 0;
}

.date-container {
    margin: 1em 0;
    padding: 0 1.4em;
}

/* subjects */
.time-tracking {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}

.threecontainer-top,
.threecontainer-bottom {
    display: flex;
}

.threecontainer-top {
    margin-bottom: .6em;
}
.threecontainer-bottom {
    margin-top: .6em;
}

.subject-content-container {
    position: relative;
    display: flex;
    margin: 0 .6em;
    align-items:flex-end;
    overflow: hidden;
}

.subject-content {
    width: 100%;
    height: 200px;
    padding: 1.4em 1.6em;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.subject-top {
    display: flex;
    justify-content: space-between;
}

.subject-title {
    font-weight: 500;
    margin: 0;
    opacity: 1;
}

/* work */
#work-container {
    background: hsl(15, 100%, 70%);
}

/* play */
#play-container {
    background: hsl(195, 74%, 62%);
}

/* study */
#study-container {
    background: hsl(348, 100%, 68%);
}

/* excercise */
#excercise-container {
    background: hsl(145, 58%, 55%);
}

/* social */
#social-container {
    background: hsl(264, 64%, 52%);
}

/* self-care */
#self-care-container {
    background: hsl(43, 84%, 65%);
}

@media (max-width: 1100px) {
    body {
        overflow: initial;
    }
    h2 {
        font-size: 2rem;
        margin: 0;
    }
    .box-container {
        height: initial;
        flex-direction: column;
    }
    .container {
        flex-direction: column;
        width: 80%;
        align-items: center;
    }
    .profile {
        align-self: center;
        width: 400px;
        margin: 5em 0 1em;
        height: 225px;
    }
    .threecontainer-top,
    .threecontainer-bottom {
        margin: 0;
        flex-direction: column;
    }
    .profile-container {
        display: flex;
        height: 150px;
    }
    #profile-picture {
        width: auto;
    }
    .name {
        margin: 2em 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    #small-report {
        margin-bottom: 0.4em;
    }
    .date-container {
        margin: .3em 1em;
        display: flex;
        align-items: center;
        font-size: 1.35rem;
        justify-content: space-between;
    }
    .time-tracking {
        margin: 0;
    }
    .subject-content-container {
        margin: 1em;
        height: 200px;
        width: 400px;
    }
    .subject-content {
        height: 150px;
    }
    .subject-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #daily,
    #weekly,
    #monthly {
        margin: 1em 0;
    }
    .attribution {
        position:initial;
        margin-top: 5%;
    }
}






/* Credit */
.attribution { font-size: 11px; }
.attribution a { color: hsl(228, 45%, 44%); }
